{% extends 'Tienda_OnlineApp/plantilla_home.html' %}

{% load static %}

{% block estilos %}
<link rel="stylesheet" href="{% static 'Tienda/css/tienda.css' %}">
{% endblock %}

{% block main %}

    <div class="div_h2">
        <h2>Destacados Semanales</h2>
    </div>

    <div class="div_productos">

        {% for producto in productos %}

        <div class="card div_productos_internos" style="width: 18rem;">
            <img src="{{producto.imagen.url}}" class="card-img-top" alt="...">
            <hr>
            <div class="card-body">
                <h5 class="card-title">{{producto.nombre}}</h5>
                <p class="card-text">{{producto.descripcion}}.</p>
                <p>₡ {{producto.precio}}</p>
                <hr>
                <a href="#" class="btn btn-primary">Agregar al carro</a>
            </div>
        </div>

        {% endfor %}

    </div>

    <div>
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
              <li class="page-item disabled">
                <a class="page-link">Previous</a>
              </li>
              <li class="page-item"><a class="page-link" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item">
                <a class="page-link" href="#">Next</a>
              </li>
            </ul>
          </nav>
    </div>

{% endblock %}