{% extends 'Tienda_OnlineApp/plantilla_home.html' %}

{% load static %}

{% block estilos %}
<link rel="stylesheet" href="{% static 'Tienda/css/tienda.css' %}">
{% endblock %}

{% block main %}

<div class="div_h2">
    <h2>Destacados Semanales</h2>
</div>

<div class="div_productos">

    {% for producto in entity %}

    {% if producto.destacados_semanales == True %}

    <div class="card div_productos_internos text-center" style="width: 13em;">
        <a href="#">
            <img src="{{producto.imagen.url}}" class="card-img-top img_card" alt="...">
        </a>
        <hr>
        <div class="card-body">
            <h5 class="card-title">{{producto.nombre}}</h5>
            <p>₡{{producto.precio}}</p>
        </div>

        <div class="card-footer text-center">
            <a href="{% url 'carro:agregar' producto.id %}" class="btn btn-success">Agregar al carro</a>
        </div>
    </div>

    {% endif %}

    {% endfor %}

</div>

<div class="div_h2">
    <h2>Productos con descuento</h2>
</div>

<div class="div_productos">

    {% for producto in entity %}

    {% if producto.oferta == True %}

    <div class="card div_productos_internos text-center" style="width: 13em;">
        <a href="#">
            <img src="{{producto.imagen.url}}" class="card-img-top img_card" alt="...">
        </a>
        <hr>
        <div class="card-body">
            <h5 class="card-title">{{producto.nombre}}</h5>
            <p>
                <span style="text-decoration: line-through; color: red;">₡{{producto.precio}}</span> 
                &nbsp;
                ₡{{producto.precio_descuento}}
            </p>
        </div>

        <div class="card-footer text-center">
            <a href="{% url 'carro:agregar' producto.id %}" class="btn btn-success">Agregar al carro</a>
        </div>
    </div>
    {% endif %}

    {% endfor %}

</div>

<div class="div_h2">
    <h2>Productos Nuevos</h2>
</div>

<div class="div_productos">

    {% for producto in entity %}

    {% if producto.producto_nuevo == True %}

    <div class="card div_productos_internos text-center" style="width: 13em;">
        <a href="#">
            <img src="{{producto.imagen.url}}" class="card-img-top img_card" alt="...">
        </a>
        <hr>
        <div class="card-body">
            <h5 class="card-title">{{producto.nombre}}</h5>
            <p>₡{{producto.precio}}</p>
        </div>

        <div class="card-footer text-center">
            <a href="{% url 'carro:agregar' producto.id %}" class="btn btn-success">Agregar al carro</a>
        </div>
    </div>
    {% endif %}

    {% endfor %}

</div>

<div>
    <hr>
    {% include 'Tienda/paginator.html' %}
</div>

{% endblock %}