* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
/* -----------HEADER----------- */
.p_usuario {
  color: #fff;
}
.li_perfil{
  margin: 5px 20px 0 0 ;
}
.btn_cuenta{
  padding: 0  20px;
}
.ul_login {
  display: flex;
  list-style: none;
  justify-content: right;
  background: #1a213c;
  margin: 0;
}
.nav_header {
  display: flex;
  background-color: #1a213c;
  color: #fff;
  justify-content: space-around;
  align-items: center;
}
.nav_header a {
  text-decoration: none;
}
.btn_login {
  padding: 0;
  margin: 5px;
}
.input_search {
  padding: 5px;
  width: 600px;
  border: none;
}
.btn_search {
  width: 50px;
  border: none;
  background: #fbdf07;
}
.btn_search:hover {
  background: #a89508;
  color: #fff;
}
.carrito {
  background: #6c6b6b;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
}
.carrito:hover {
  background: #000;
  color: #fff;
  border-radius: 5px;
}
/* -----------FIN HEADER----------- */

/* -----------NAV----------- */
.ul_nav {
  display: flex;
  justify-content: center;
  list-style: none;
  background: #11468f;
  padding: 0;
  margin: 0;
}
.ul_nav li {
  padding: 10px;
}
.ul_nav a {
  text-decoration: none;
  color: #fff;
  padding: 10px;
}
.ul_nav a:hover {
  background: #fff;
  color: #000;
}
.active_nav {
  background: rgb(212, 87, 87);
}
/* -----------FIN NAV----------- */
