<!DOCTYPE html>
<html lang="es">

<head>
    <!-- Agregamos todo lo del static -->
    {% load static %}

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="{% static 'Tienda_OnlineApp/vendor/bootstrap-5.2.0-dist/css/bootstrap.min.css' %}">

    <!-- FontAwesome -->
    <link rel="stylesheet" href="{% static 'Tienda_OnlineApp/vendor/fontawesome-free-6.1.2-web/css/all.min.css' %}">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

    <!-- Mis estilos -->
    <link rel="stylesheet" href="{% static 'Tienda_OnlineApp/css/plantilla_home/plantilla_home.css' %}">

    {% block estilos %}
    {% endblock %}

    <title>
        {% block title %}
        AutoServicio | Tienda Online
        {% endblock %}
    </title>
</head>

<body>

    <header>

        <div>
            <ul class="ul_login">

                {% if request.user.is_authenticated %}

                <li class="li_perfil">
                    <p class="p_usuario ">Usuario: {{request.user.username}}</p>
                </li>

                <li class="li_perfil">
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle btn_cuenta" btn_cuenta type="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Mi Cuenta
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#"><i class="fa-solid fa-user"></i> Perfil</a></li>
                            <li><a class="dropdown-item" href="{% url 'logout' %}"><i
                                        class="fa-solid fa-right-from-bracket"></i> Cerrar Sesion</a></li>
                        </ul>
                    </div>
                </li>

                {% else %}

                <li>
                    <a href="{% url 'login' %}" class="btn btn-secondary btn_login"><i class="fa-solid fa-user"></i>
                        Iniciar Sesion</a>
                </li>
                <li>
                    <a href="{% url 'register' %}" class="btn btn-secondary btn_login"><i
                            class="fa-solid fa-pen-to-square"></i> Registrarse</a>
                </li>

                {% endif %}
            </ul>
        </div>

        {% include 'Tienda_OnlineApp/header_principal.html' %}
        {% include 'Tienda_OnlineApp/header_responsive.html' %}
        {% include 'Tienda_OnlineApp/modal_carro.html' %}
    </header>


    <aside>
        {% block aside %}
        {% endblock %}
    </aside>

    <main>
        {% block main %}
        {% endblock %}
    </main>

    <hr>

    <footer class="py-3 my-4">
        <ul class="nav justify-content-center pb-3 mb-3">
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Home</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Features</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Pricing</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">FAQs</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">About</a></li>
        </ul>
        <hr>
        <p class="text-center text-muted">&copy; 2022 Company, Inc</p>
    </footer>


    <!-- bootstap -->
    <script src="{% static 'Tienda_OnlineApp/vendor/bootstrap-5.2.0-dist/js/bootstrap.bundle.min.js' %}"></script>
    <!-- FontAwesome -->
    <script src="{% static 'Tienda_OnlineApp/vendor/fontawesome-free-6.1.2-web/js/all.min.js' %}"></script>
    <!-- Jquery -->
    <script src="{% static 'Tienda_OnlineApp/vendor/jquery-3.6.0.min.js' %}"></script>

</body>

</html>